.gradle/
build/
bin/
.idea/
*.iml
*.iws
*.ipr
out/
.DS_Store
*.log

# Generated sources
**/generated-src/

apk*
**/*archive*
.kotlin
*.backup*
*.bak*
*.md
!README.md
!CHANGELOG.md
*.sh
*.txt
!.github/
docs
*.py
test-*
*.code-workspace
*.jar
